* {
    /* Selecting text is disabled when using browser styles
       https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Browser_styles */
    user-select: auto;
    -moz-user-select : auto;
}

html, body {
    overflow-x: hidden;
    background-color: #FFF;
    width: 100%;
    padding: 0;
    margin: 0;
}

main {
    padding: 5px;
}

h1{
    margin: unset;
    background-color: #2C1B3D;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    display: inline-block;
    text-align: center;
    padding: 10px 0 0 0;
    line-height: 0.88;
    width: 100%;
    color: #FFF;
}

ul{
    padding: unset;
    margin: unset;
}

ul#message-container li{
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
