<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/default.css"/>
    </head>
    <body>
        <header>
            <h1>Spilled</h1>
        </header>
        <main>
            <h2>Welcome to Spilled!</h2>
            <p>This extension detects private info in cookies as defined in <a href="https://cwe.mitre.org/data/definitions/315.html" target="_blank" rel="noopener">CWE-315</a> when it's exploitable because the HTTPOnly or Secure property is not set.</p>
        </main>
        <footer>
            <a href="overview.html?example_content=true">Go to example overview</a>
        </footer>
    </body>
</html>