<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/default.css"/>
    </head>
    <body>
        <header>
            <h1>Spilled</h1>
        </header>
        <main id="message-container">
            <ul>
                <li>Loading...</li>
            </ul>
        </main>
        <footer>
            <a href="onboard.html">Show me the explanations again</a>
        </footer>
    </body>
    <script type="module" src="../js/overview.js"></script>
</html>