html, body {
    overflow-x: hidden;
    background-color: #209CEE;
    width: 100%;
}

ul{
    list-style: none;
    padding: 5px 10px;
}

ul#message-container .error{
    background-color: red;
    color: white;
}

ul#message-container .warning{
    background-color: orange;
    color: white;
}
